# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yeixkqyhajjvakdfodnp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ysb_publishable_F_Jfa_szMyuFEiPzQYPk-w_B099wymv
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InllaXhrcXloYWpqdmFrZGZvZG5wIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzkzNjc4OCwiZXhwIjoyMDg5NTEyNzg4fQ.x1gpZ0abBRVMaXxzlcXVO9LCHjbwsVWWXhrbpbUD6Do

# Resend
RESEND_API_KEY=re_your_api_key

# News Publishing
NEWS_PASSCODE=KakaKathal@123

# Supabase S3 Storage (for news image uploads)
SUPABASE_S3_ENDPOINT=https://yeixkqyhajjvakdfodnp.storage.supabase.co/storage/v1/s3
SUPABASE_S3_ACCESS_KEY_ID=bb4762b97d726d126aaa0a777fa0447a
SUPABASE_S3_SECRET_ACCESS_KEY=730f0873026546ea82c2e3f5e3c5ab40271efd56cf6a31ef3b952d1c09e6b289

# Dodo Payments
DODO_PAYMENTS_API_KEY=UWAdMmQMEatfIOLH.efi3D6Jvo5hZiSuOHMky7Szny6b_KP_0-3Fm0S_OMGgckQ6C
NEXT_PUBLIC_DODO_MODE=test
NEXT_PUBLIC_DODO_MONTHLY_ID=pdt_0NepDh9ZYhtqHz0plstam
NEXT_PUBLIC_DODO_ANNUAL_ID=pdt_0NepDptybvgN1zsXtaP3C
NEXT_PUBLIC_REDIRECT_URL=http://localhost:3000/thanks
